extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers-blue-grey.css')

block title
    title Byte Bakers - Blue Grey

block scripts
    script(src='./assets/js/neon-bubbles-blue-grey.js')
