extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers.css')

block title
    title Byte Bakers - Dark Indigo

block scripts
    script(src='./assets/js/neon-bubbles-dark-indigo.js')
