extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers-pink.css')

block title
    title Byte Bakers - Pink

block scripts
    script(src='./assets/js/neon-bubbles-pink.js')
