extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers-green.css')

block title
    title Byte Bakers - Green

block scripts
    script(src='./assets/js/neon-bubbles-green.js')
