extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers-red.css')

block title
    title Byte Bakers - Red

block scripts
    script(src='./assets/js/neon-bubbles-red.js')
