extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/bytebakers-purple.css')

block title
    title Byte Bakers - Purple

block scripts
    script(src='./assets/js/neon-bubbles-purple.js')
